@using Application.ViewModels.TipoPrimario
@model List<TipoPrimarioViewModel>
@{
    ViewData["Title"] = "Tipo";
}

<navbar>
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Tipo" asp-action="Create" class="btn btn-outline-success">Crear Tipo</a>
        </div>
    </div>
</navbar>


<div class="container-fluid">
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h2>No hay tipos primarios</h2>
        }
        else
        {
            @foreach (TipoPrimarioViewModel item in Model)
            {
                <div class="col-4 mb-3">
                    <div class="card- shadow-sm">
                        <div class="card-body">
                            <h4>@item.Nombre</h4>
                            <div class="btn-group">
                                <a asp-controller="Tipo" asp-action="Edit" asp-route-id="@item.idTipoPrimario" class="btn btn-sm btn-outline-info">Editar</a>
                                <a asp-controller="Tipo" asp-action="Delete" asp-route-id="@item.idTipoPrimario" class="btn btn-sm btn-outline-danger">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>