@using Application.ViewModels.TipoPrimario;
@model SaveTipoPrimarioViewModel

@{
    bool editMode = Model.idTipoPrimario == 0 ? false : true;
    ViewData["Title"] = "Crear Tipo";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editar Tipo: {Model.Nombre}" : "Crear Tipo")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Tipo" asp-action="@(editMode ? "EditPost":"CreatePost")">

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Nombre" class="form-control" />
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>

                        <input type="hidden" asp-for="idTipoPrimario"/>

                        <button type="submit" class="btn btn-primary">@(editMode ? $"Editar tipo {Model.Nombre}" : "Registrar tipo")</button>
                        <a asp-controller="Tipo" asp-action="Index" class="btn btn-warning">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
